@model IEnumerable<WebApplication1.Models.User>
@{
    ViewBag.Title = "List of Users";
}

<a asp-action="Create">Create a new User</a>
<form id='form1' method="post">
    <button class="btn btn-outline-danger" type="submit" asp-controller="Users" asp-action="Delete">Delete</button>
    <button class="btn btn-outline-danger" type="submit" asp-controller="Users" asp-action="Block">Block</button>
    <button class="btn btn-outline-success" type="submit" asp-controller="Users" asp-action="UnBlock">UnBlock</button>

    <table class="table table-hover table-checks">
        <tr>
            <th><input type="checkbox" name="cb_all"></th>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>Status</th>
            <th>Registration date</th>
            <th>Last login date</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td><input type="checkbox" class="qwe" name="selectedUsers" value="@user.UserName"/></td>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.Status</td>
                <td>@user.RegistrationDate.ToLongDateString()</td>
                <td>@user.LastLoginDate.ToLongDateString()</td>
            </tr>
        }
    </table>
</form>
<script>
    var f = document.getElementById('form1');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('qwe');
        for (var i = 0; i < qwe.length; i++) {
            qwe[i].checked=!!el.checked;
        }
    }
</script>